version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.4

jobs:
  test:
    parameters:
        docker_image:
          type: string
          default: cimg/node:current-browsers
    docker:
      - image: << parameters.docker_image >>
    steps:
      - checkout
      - browser-tools/install-browser-tools
      - run:
          name: Setup
          command: |
            rm -rf node_modules package-lock.json
            npm install
      - run:
          name: Running all unit tests
          command: |
            node -v
            npm -v
            npm run test

workflows:
  version: 2
  test-all-node-versions:
    jobs:
      - test:
          docker_image: circleci/node:10-browsers
      - test:
          docker_image: circleci/node:12-browsers
      - test:
          docker_image: cimg/node:14.21-browsers
      - test:
          docker_image: cimg/node:16.20-browsers
      - test:
          docker_image: cimg/node:18.9-browsers
      - test:
          docker_image: cimg/node:20.9-browsers
      - test:
          docker_image: cimg/node:22-browsers
      - test
